<div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12 px-8">
    <div class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100 dark:bg-primary-600">
        <mat-icon class="text-primary-700 dark:text-primary-50" [svgIcon]="'heroicons_outline:bookmark'">
        </mat-icon>
    </div>
    <div class="mt-5 text-2xl font-semibold tracking-tight">
        No hay shortcuts
    </div>
    <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">
        Cuando tengas shortcuts apareceran aquí.
    </div>
</div>