<div
    class="relative group flex flex-col overflow-hidden bg-card border-r border-b even:border-r-0 hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5">

    <ng-container *ngIf="mode === 'modify'">
        <div class="absolute inset-0 z-99 cursor-pointer" (click)="editShortcut.emit(shortcut)">
        </div>
    </ng-container>

    <!-- Normal links -->
    <a class="flex flex-col items-center justify-center w-full h-full py-6 no-underline" *ngIf="!shortcut.useRouter"
        [ngClass]="{'pointer-events-none': mode === 'modify'}" [href]="shortcut.link" target="_blank">
        <ng-container *ngTemplateOutlet="linkContent"></ng-container>
    </a>

    <!-- Router links -->
    <a class="flex flex-col items-center justify-center w-full h-full py-6 no-underline cursor-pointer" *ngIf="shortcut.useRouter"
        [ngClass]="{'pointer-events-none': mode === 'modify'}" [routerLink]="shortcut.link">
        <ng-container *ngTemplateOutlet="linkContent"></ng-container>
    </a>

    <!-- Link content template -->
    <ng-template #linkContent>
        <div
            class="relative flex shrink-0 items-center justify-center w-12 h-12 mb-3 rounded-full bg-gray-100 dark:bg-gray-700">
            <mat-icon class="absolute opacity-0 group-hover:opacity-100 z-20 icon-size-5" *ngIf="mode === 'modify'"
                [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
            <mat-icon class="z-10" [ngClass]="{'group-hover:opacity-0': mode === 'modify'}"
                [svgIcon]="shortcut.icon"></mat-icon>
        </div>
        <div class="font-medium text-center">{{shortcut.label}}</div>
        <div class="text-md text-center text-secondary">{{shortcut.description}}</div>
    </ng-template>
    
</div>