<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
   <app-header></app-header>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(products$ | async) as products">
                <ng-container *ngIf="products.length > 0; else noProducts">
                    <div class="grid">
                        <!-- Header -->
                        <table-header></table-header>
                        <!-- Rows -->
                        <table-row></table-row>
                    </div>

                    

                </ng-container>
            </ng-container>

            <paginator></paginator>

            <!-- <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator> -->

            <ng-template #noProducts>
                
            </ng-template>

        </div>

    </div>

</div>
